/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://use.fontawesome.com/74b492a4aa.js');

body {
	font-family: $font-primary;
	font-size: 1.2rem;
	line-height: 160%;
	// background: darken($gray,0);
	color: rgba;$darkblue: 80;
}

headings {
	font-family: $font-secondary;
	font-weight: normal;
	color: $darkgray;
	@include text-shadow($paleryellow 1px 1px); 
}

header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}

footer{
	text-align: center;
}


h1 {
	font-size: 2.2rem;
	color: ($darkblue, 25);
	// margin-bottom: .4rem;
	padding-left: 20px;
	
}

h2 {
	font-size: 1.5rem;
	line-height: 100%;
	margin: 20px 0 0 0;
	color: $orange;
}

a {
	text-decoration: underline;
	color: mediumgray;
	&:hover {
		color: $orange;
	}
}

p {
	margin-bottom: 10px;
}

.small {
	font-size: 1rem;
	color: $blue;	
}

.container{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.column-container {
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    vertical-align: middle;
}


header {
	// text-align: center;
	// width: 345px;
}

header h1{
	color:white;
	font-size: 2em;
}
nav {
  float: right;
  display: block;
  // width: 386px;
  margin-top: 0px;
 
}

ul li{
	list-style-type: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;

}


nav li {
	list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;

}

nav ul li a {
  text-decoration: none;
}
//   padding: 8px;
//   transition: all 250ms cubic-bezier(0.17, 0.67, 0, 0);
// }
nav ul li a:link,
nav ul li a:visited {
  color: rgba(255, 255, 255, 0.8);
}
nav ul li a:hover,
nav ul li a:active {
  color: rgba(255, 255, 255, 0.9);
  background: #ff8562;
  // border-radius: 15px;
}

			@media only screen and (max-width:550px) {
	main {
		flex-flow: column;
}

	main section {
		width: 100%;
	}

.flex-title {
	max-width: 80%;
}


img {
	max-width: 70%; padding-left: 20px;

.column-container {
	max-width: 75%; 
	display: flex;
	justify-content: space-around;
}  

.item {
	width: 90%
}
}
}